<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GeometryTest">
    <test name="Test1">
        <groups>
            <run>
                <include name="fullPath"/>
            </run>
        </groups>
        <classes>
            <!--<class name="by.epam.geometrysecondsecond.reader.PointReaderTest"/>
            <class name="by.epam.geometrysecondsecond.parser.PointParserTest"/>
            <class name="by.epam.geometrysecondsecond.action.TriangleActionTest"/>-->
       </classes>
    </test>
    <test name="Test2">
        <groups>
            <run>
                <include name="notTriangle"/>
            </run>
        </groups>
        <classes>
            <!--<class name="by.epam.geometrysecondsecond.action.TriangleActionTest"/>-->
        </classes>
    </test>
</suite>